body{
    font-family:  Microsoft YaHei,Helvetica,Arial,sans-serif ;
    font-size:18px;
    background-color: white;
    color: #333333;
}

a{
    text-decoration: none;
}

ul{
    margin: 0px;
}

#search_btn{
   background-color: #ffffff;
    color: #333333;
}

