td{
    padding: 10px 10px;
}
input{
    border:thin solid  lightgrey;
}
.showinfo{
    color:#ef4238;
    float: left;
    font-size:20px;
}

.tips{
    width: 180px;
    height: auto;
}

input[type="text"]{
    width: 300px;
    height: 30px;
    border-radius: 6px;
}
input[type="password"]{
    width: 300px;
    height: 30px;
    border-radius: 6px;
}

/*提交按钮样式*/
input[type="submit"]{
    background-color: #0c8068;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    /*margin: 5px 2px;*/
    cursor: pointer;
    border-radius: 4px;
}