{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寻影 | 找回密码</title>
    <link href="{% static "image/logo.png" %}" rel="icon" type="image/png">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type='text/javascript' src='../static/js/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='../static/js/demo.js'></script>
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/passwordcss.css">
    <script src="../static/js/password.js"></script>
    <script>
        $(document).ready(function () {
            $('#pull').click(function () {
                time(this);
                data1 = $('#uphone').val();
                html = $.ajax({
                    url: "/myapp/note/",
                    type: 'POST',
                    data: {'data1':data1}
                });
            });
            var wait=180;
            function time(o) {
                if (wait == 0) {
                    o.removeAttribute("disabled");
                    o.value="发送验证码";
                    wait = 180;
                } else {
                    o.setAttribute("disabled", true);
                    o.value=wait+"S后再次发送";
                    wait--;
                    setTimeout(function() {
                        time(o)
                    }, 1000)
                }
            }
        })
    </script>

</head>

<body>
{% include "nav.html" %}
<div id="particles">
<div class="intro">
<br><br>
<div class="content" style="margin: 0px auto;width:600px;height: auto;border: 1px solid #efefef;border-radius: 15px;background-color:rgba(255,255,255,0.67)">
    <form action="/myapp/password/" method="post" name="register" onsubmit="return check()">
        <table style="margin:50px auto;">
            <tr>
                <td>手&nbsp;机&nbsp;号</td>
                <td><input type="text" id="uphone" name="uphone" placeholder="请输入手机号" onblur="checkphone()"></td>
                <td class="tips"><span id="div1" class="showinfo " >*</span></td>
            </tr>
            <tr>
                <td>短信验证</td>
                <td><input type="text" name="identity_code" placeholder="请输入验证码" style="width: 155px" id="use" onblur="checkcode()">
                    <input type="button" value="发送验证码" id="pull" style="width: 130px;height: 32px;border-radius:5px;background-color: silver"></td>
                <td><span id="div2" class="showinfo" >*</span></td>
            </tr>
            <tr>
                <td>新&nbsp;密&nbsp;码</td>
                <td><input type="password" id="password1" name="password" placeholder="请输入密码" onblur="checkpassword()" ></td>
                <td><span id="div3" class="showinfo"  >*</span></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td><input type="password" id="password2" placeholder="请再次输入密码" onblur="checkrepassword()"></td>
                <td><span id="div4" class="showinfo" >*</span></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="保存" id="reg_btn" >
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
</div>
</div>
</body>
</html>